{{ form_start(form) }}
<button type="submit" class="btn btn-success" style="float: right">
    <i class="fa fa-check"></i>
    enregistrer
</button>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}})
                                }}
                                {{ form_errors(form.titre) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.label, 'label', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.label, {'attr': {'class': 'form-control custom-select'}}) }}
                                {{ form_errors(form.label) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.biblio, 'biblio', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.biblio, {'attr': {'class': 'form-control custom-select'}}) }}
                                {{ form_errors(form.biblio) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.descriptionDebut, 'Description debut ', {'label_attr': {'class':
                                    'control-label'}}) }}
                                {{ form_widget(form.descriptionDebut, {'attr': {'class': 'textarea_editor form-control', 'placeholder':
                                    'Description Debut'}}) }}
                                {{ form_errors(form.descriptionDebut) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.descriptionFin, 'Description fin', {'label_attr': {'class':
                                    'control-label'}}) }}
                                {{ form_widget(form.descriptionFin, {'attr': {'class': 'textarea_editor1 form-control', 'placeholder':
                                    'Description Fin'}}) }}
                                {{ form_errors(form.descriptionFin) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                Monetique
                {{ form_start(formMonetique) }}
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(formMonetique.label, 'label', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(formMonetique.label, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}})
                                }}
                                {{ form_errors(formMonetique.label) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(formMonetique.code, 'Titre', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(formMonetique.code, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}})
                                }}
                                {{ form_errors(formMonetique.code) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formMonetique) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

