{% extends 'base.html.twig' %}

{% block title %}Edit Form{% endblock %}

{% block content %}
    <style>
        .action-new{
            padding: 0;
            place-content: end;
            color: var(--bs-primary) !important;
        }
    </style>
    <h1>Edit Form</h1>

    {{ include('form/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_form_index') }}">back to list</a>

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('assets/plugins/dropify/dist/js/dropify.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/html5-editor/wysihtml5-0.3.0.js') }}"></script>
    <script src="{{ asset('assets/plugins/html5-editor/bootstrap-wysihtml5.js') }}"></script>
    <script>
        $(document).ready(function() {

             $('.textarea_editor').wysihtml5();
            $('.textarea_editor1').wysihtml5();
            $('.textarea_editor2').wysihtml5();


        });
    </script>
   <script type="text/javascript" src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <link rel="stylesheet"
          href=
          "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript"
            src=
            "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js">
    </script>
    <script>
        $(function () {
            $("#myTable").sortable({
                items: 'tr:not(tr:first-child)',
                dropOnEmpty: false,
                start: function (G, ui) {
                    ui.item.addClass("select");
                },
                stop: function (G, ui) {
                    ui.item.removeClass("select");
                    $(this).find("tr").each(function (GFG) {
                        if (GFG > 0) {
                            $(this).find("td").eq(2).html(GFG);
                        }
                    });
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#myTable').DataTable({
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                order: [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#myTable tbody').on('click', 'td.details-control', function() {

                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    $(this).html('<i class="fa fa-plus" aria-hidden="true">')
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    $(this).html('<i class="fa fa-minus" aria-hidden="true">')
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            // Format details
            data = [];
            tab = '';
            exampleModalStepChamps = ''
            function format(data) {

                $.ajax({
                    url: '/form/step/champs/'+data[1], // URL of the server-side script
                    type: "GET", // Type of request (GET, POST, etc.)

                    success: function(result) {
                        tab = '';
                        result.forEach((element) =>
                            tab += '<tr><td>'+element.order+'</td>'+element.obligatoire+'<td>'+element.actif+'</td><td>'+element.formStep+'</td><td>'+element.createdAt+'</td><td>'+element.updatedAt+'</td></tr>',
                        );
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // Handle errors
                        console.error("AJAX Error: " + textStatus, errorThrown);
                    }
                });
                this.data = data;
              // this.tab = $("#formStepChamps tbody").html();
                return '<div> ' +
                    '<table id="myTable" class=" display table table-bordered m-b-0 toggle-arrow-tiny"'+
                'data-filtering="true" data-paging="true" data-sorting="true">' +
                    '<thead> ' +
                    '<tr> ' +
                    '<td> ' +
                    '<b style="font-weight: bold;">ordre</b>'+
                    '</td>' +
                    '<td> ' +
                    '<b style="font-weight: bold;">obligatoire</b>'+
                    '</td>' +
                    '<td> ' +
                    '<b style="font-weight: bold;">Actif</b>'+
                    '</td>' +
                    '<td> ' +
                    '<b style="font-weight: bold;">Champs</b>'+
                    '</td>' +
                    '<td> ' +
                    '<b style="font-weight: bold;">CreatedAt</b>'+
                    '</td>' +
                    '<td> ' +
                    '<b style="font-weight: bold;">UpdatedAt</b>'+
                    '</td>' +
                    '<td> ' +
                    '<button type="button"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalStepChamps" ><i class="fa fa-plus" aria-hidden="true"></i> Ajouter champ</a>'+
                    '</button>'+
                    '</td>' +
                    '</tr>' +
                    '</thead> ' +
                    '<tbody> ' +
                    this.tab+
                    '</tbody>' +
                    '</table>' +
                    '</div>';
            }
        });

        function addChamps() {
            $.ajax({
                url: '/form/step/champs/new', // URL of the server-side script
                type: "POST", // Type of request (GET, POST, etc.)
                data: {order: $('#form_step_champs_ordre').val() , champs: $('#form_step_champs_formChamps').val() , obligatoire: document.querySelector('input[name="form_step_champs[obligatoire]"]:checked').value , actif: document.querySelector('input[name="form_step_champs[actif]"]:checked').value ,  step:this.data[1]}, // Type of data expected from the server
                success: function(data) {
                    // Update the result div with the response
                    $("#result").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors
                    console.error("AJAX Error: " + textStatus, errorThrown);
                }
            });
        }

    </script>


{% endblock %}
