{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <h1>Form</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ form.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ form.label }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ form.titre }}</td>
            </tr>
            <tr>
                <th>DescriptionDebut</th>
                <td>{{ form.descriptionDebut }}</td>
            </tr>
            <tr>
                <th>DescriptionFin</th>
                <td>{{ form.descriptionFin }}</td>
            </tr>
            <tr>
                <th>Biblio</th>
                <td>{{ form.biblio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_form_index') }}">back to list</a>

    <a href="{{ path('app_form_edit', {'id': form.id}) }}">edit</a>

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
