{% extends 'base.html.twig' %}

{% block title %}FormEtatVariable index{% endblock %}

{% block content %}
    <div class="accordion" id="accordionTable">
        <div class="card m-b-5">
            <div aria-labelledby="heading1">
                <div class="card-body">
                    <a href="{{ path('app_form_etat_variable_new') }}" type="button" class="btn btn-info btn-rounded m-t-10 float-right text-white">Ajouter Form Etat</a>
                    <div class="table-responsive">
                        <table id="demo-foo-accordion" class="table table-bordered m-b-0 toggle-arrow-tiny"
                               data-filtering="true" data-paging="true" data-sorting="true">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Label</th>
                                <th>NomVariable</th>
                                <th>TypeInput</th>
                                <th>Valeur</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form_etat_variable in form_etat_variables %}
                                <tr>
                                    <td>{{ form_etat_variable.id }}</td>
                                    <td>{{ form_etat_variable.label }}</td>
                                    <td>{{ form_etat_variable.nomVariable }}</td>
                                    <td>{{ form_etat_variable.typeInput }}</td>
                                    <td>{{ form_etat_variable.valeur }}</td>
                                    <td>{{ form_etat_variable.createdAt ? form_etat_variable.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ form_etat_variable.updatedAt ? form_etat_variable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('app_form_etat_variable_edit', {'id': form_etat_variable.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                        <a data-toggle="modal" data-target="#elementModal"><i class="far fa-trash-alt " style="color: red"></i></a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="elementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel1">Etat variable</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        Voulez vous supprimer cette Etat Variable
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <a href="{{ path('app_form_etat_variable_delete', {'id': form_etat_variable.id}) }}" type="button" class="btn btn-red" id="elementActionButton">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <tr>
                                    <td colspan="8">no records found</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
