<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.formChamps, 'formChamps', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.formChamps, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}})
                                }}
                                {{ form_errors(form.formChamps) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.option, 'Option', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.option, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}})
                                }}
                                {{ form_errors(form.option) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.valeur, 'Valeur', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.valeur, {'attr': {'class': 'form-control custom-select'}}) }}
                                {{ form_errors(form.valeur) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.ordre, 'Order', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.ordre, {'attr': {'class': 'form-control custom-select'}}) }}
                                {{ form_errors(form.ordre) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                {{ form_row(form.actif) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Save
                    </button>
                    <a href="" type="button" class="btn btn-inverse">Cancel</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
